.blok{
    position: fixed;
    top: 300px;
    text-align: center;
    justify-content: center;
    left: 20%;
}
h1{
    position: fixed;
    top: 150px;
    text-align: center;
    justify-content: center;
    left: 20%;
}
h2{
    font-size: 40px;
}
